<script type="text/template" id="user-form">
<!--   // < div id="user-form">
 -->

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane fade in active" id="pleasedToMeetYa">
	    	You're playing with <strong>The Social Mechanism</strong>, a social media aggregator developed by us.
	    	<a href="http://www.themechanism.com/" target="_blank"><%= image_tag("TheMech_Logo2.png") %></a> 
	    	<br>
	    	<%= render 'users/new', user: @user %> 
	

	    </div>
	    <div role="tabpanel" class="tab-pane fade" id="newUserForm">
				The Mechanism is a digital design and branding agency based in NYC.
			 	<br>We want to hear from you!
			 	
				
				<a href="#thankYouForSub" aria-controls="thankYouForSub" role="tab" data-toggle="tab">
		    	<input type="hidden" aria-controls="thankYouForSub" role="tab" data-toggle="tab">
		  	</a>
	    </div>
	    <div role="tabpanel" class="tab-pane fade" id="thankYouForSub">
	    	<h3>Enjoy the Social Mechanism!</h3>
				<h4>And thanks for staying in touch!</h4>
	    	
	    </div>
	    <div role="tabpanel" class="tab-pane fade" id="beep">BEEP</div>
	  </div>

<!-- 	</div>
 -->  
   
</script>
