<script type="text/template" data-modal-contents="user#new">
  <div id='solicit'>
  	You're playing with <strong>The Social Mechanism</strong>, a social media aggregator developed by us.
  	<a href="http://www.themechanism.com/" target="_blank"><%= image_tag("TheMech_Logo2.png") %></a> 
  	<br>
  	<%= render 'users/new', user: @user %> 
  </div>
</script>

<script type="text/template" data-modal-contents="thanks-for-submission">
  <div>
  	<h3>Enjoy the Social Mechanism!</h3>
		<h4>And thanks for staying in touch!</h4>
  </div>
</script>

<script type="text/template" data-modal-contents="user#error">
  <div id='validationErrors'>
  	<h4>Seems like you forgot to include your <span class='form-errors'></span>.</h4>
  	<a class='btn btn-warning'>One more time!</a>
  </div>
</script>