<div class="col-sm-4 col-md-4 col-xs-6 masonryThumb">
  <div class="thumbnail social insta">
    <img class="thumbTop" src="{{ image }}" alt="..."/>
    
    <div class="caption">
      <p>{{ caption_text }}</p>
      <hr>
      <p>
        By <strong>{{ name }}</strong></br>
        <i class="fa fa-heart"></i> {{ likes }} |
        {{ moment(created_at).format('MMM Do, h:mm a') }}

      </p>
      <p class='links'>
        <a href="{{ link }}" class="btn btn-primary btn-sm" role="button"><i class="fa fa-instagram"></i></a> 
        <!-- <a href="#" class="btn btn-default btn-sm" role="button">Button</a> -->
      </p>
    </div>
  </div>
</div>
