<div class="pad-the-nav"></div>

<div class="masonryGrid">
  <!-- < %= render 'thumbnails', pf: @pf%> -->
</div>

<script>
  var PATHS = {
    publicFigure: "<%= public_figure_path(@pf) %>",
    templates: "<%= public_figure_templates_path(@pf) %>"
  }
  $(document).ready(function(){
    var SQM = new SocialQueryMech(PATHS);
    // window.SQM = SQM;
    SQM.init();
  });
</script>