@import '_variable_overrides';


@popover-arrow-color: @brand-warning + 70;

.popover {
  padding: 0;
}
.popover-title {
  background-color: @brand-warning + 70;
  /*padding: 0;*/
}

.popover-content {
  /*background-color: @brand-warning + 100;*/
}