div .thumbnail.social {
  
  padding: 0;

  .tweetText {
    background-color: rgb(40, 150, 237);
    color: white;
    padding: 1.5em;
    font-size: 1.15em;
    text-align: center;
    height: 5em;
  }
  img {
    /*height: 5em;*/
  }
  .caption {
  
  }
  
  a.btn {
    opacity: 0;
  }
  &:hover {
    a.btn{
      opacity: 1;
      visibility: visible;
    }
  }
  p.links {
    position: absolute;
    top: 1em;
    left: 2em;
  }
}