@import '_variable_overrides';

.pad-the-nav {
  padding-top: 60px;
}

#collapsed-form{
  margin-bottom: 2em;
}

.masonryGrid {
  margin: 0 auto;
}

.fa-question-circle {
  color: @brand-warning;
}

div .thumbnail.social {
  
  padding: 0;
  word-wrap: break-word;

  .tweetText {
    background-color: @brand-primary;
    color: white;
    padding: 1.5em;
    font-size: 1.15em;
    text-align: center;
    /*max-height: 200px;*/
  }
  img {
    object-fit: cover;
    /*height: 5em;*/
  }
  .caption {
  
  }
  
  a.btn {
    opacity: 0.5;
  }
  &:hover {
    a.btn{
      opacity: 1;
      visibility: visible;
    }
  }
  p.links {
    position: absolute;
/*    top: 1em;
    left: 2em;*/
    bottom: 1em;
    right: 2em;
  }
}