<h1>WHAT?</h1>

<form action="#" class="form" style="border: solid black 0.15em; margin: 3em; padding: 1em;">
  
  <label for="fb">Facebook Username</label>
  <input type="text" name="fb" data="facebook-username"></br>
  <button data="test-username" type="facebook">TESTSTSTST</button></br>

  <label for="insta">Instagram Username</label>
  <input type="text" name="insta" data="insta-username"></br>
  <button data="test-username" type="insta">TESTSTSTST</button></br>
</form>

<script type="text/template" id="list-temp">
  <ul >

  </ul>
</script>


<script>
  var PATHS = {
    fb_id_from_string: '<%= aggregators_fb_id_from_string_path %>',
    instagram_ids_from_string: '<%= aggregators_insta_id_from_string_path %>'
  };  
  var testableInputs = {
    facebook: $('input[data="facebook-username"]'),
    insta: $('input[data="insta-username"]')
  };

  var insta = new INSTA(PATHS);

  $('button[data="test-username"]').click(function(e){
    e.preventDefault();
    var testFor = $(this).attr('type');
    var $input = testableInputs[ testFor ];
    insta.getUsernameList( $input, showModal );
  });



  function showModal(response){
    if ( response.html ){
      $('.modal-body').html(response.html);
    } else {
      $('.modal-body').html('oh shit')
    }
    $('.modal').modal();
  }
</script>

<%= render 'shared/bootstrap_modal' %>