<h1>WHAT?</h1>

<form action="#" class="form" style="border: solid black 0.15em; margin: 3em; padding: 1em;">
  <div>I'm in the form</div>
  <input type="text">
  <input type="submit" value="test this value">
</form>

<ul class="media-list">
  <li class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="" alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"></h4>
    </div>
  </li>
</ul>

<script>
  var PATHS = {
    fb_id_from_string: '<%= aggregators_fb_id_from_string_path %>',
    instagram_ids_from_string: '<%=  %>'
  };  

  $('form').submit(function (e) {
    e.preventDefault();
    var data = {
      aggregator: {
        test_string: $('input[type="text"]').val()
      }
    };
    $.post(PATHS.fb_id_from_string, data, function(res){
      console.log(res);
    });
  });

</script>