<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SocialMechanismDemo</title>

</head>
<body>
  <% @pf.most_recent_tweets.each do |t| %>
    <div>
      <%= t %>
    </div>
  <% end %>

  <% @pf.most_recent_instagrams.each do |insta| %>
    <div><img src="<%= insta['thumbnail'] %>" alt=""></div>
  <% end %>
</body>
</html>