<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FOo bar</title>

</head>
<body>
  <h1>I live in another server</h1>
  
  <script>
   var GLOBAL = 'yes';
  </script>
</body>
</html>